.form {
   display: grid;
   grid-template-columns: 4.2rem 34.9rem 11.9rem;
   grid-template-rows: 4.2rem 4.3rem;

   grid-template-areas: "avatar  input button"
                        "padding1 icons padding2";

   height: 100%;
}

.newPostFormAvatar {
   grid-area: avatar;
}

.input {
   grid-area: input;

   font-size: 1.4rem;
   font-weight: 400;
   color: var(--base-fontColor);
}

.button {
   height: 3.7rem;
   border-radius: 1rem;

   background-color: var(--theme-color);

   color: #fff;
   font-size: var(--interface-fz);
   line-height: 1.9rem;
   font-weight: bold;

   transition-property: filter background-color;
   transition-duration: 0.1s;

   filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {

   background-color: var(--theme-hover);
   box-shadow: var(--theme-hover-shadow);
   filter: drop-shadow(0px 2px 5px var(--theme-hover-shadow));
}

/* .button:active {
   background-color: var(--);
   filter: drop-shadow(0px 2px 5px var(--theme-hover-shadow));
} */

.icons {
   grid-area: icons;
   display: grid;
   grid-template-columns: repeat(4, 3.4rem);
   padding-left: 2rem;
}

.icons:hover {
   cursor: pointer;
}

.iconsItem {
   transition-property: opacity;
   transition-duration: 0.1s;
}

.iconsItem:hover {
   opacity: 0.6;
}