.form {
   display: grid;
   grid-template-columns: 4.5rem 34.4rem 11.9rem;
   grid-template-areas: "avatar input button";

   min-height: 6.1rem;
   margin-bottom: 2.7rem;
}

.newPostFormAvatar {
   grid-area: avatar;
}

/* .textarea {
   font-size: var(--main-fz);

   padding: 1.5rem 4rem 1.5rem 2rem;
   height: 4.5rem;
   width: 90%;

   resize: none;
   
   display: inline-block;
}

.textarea::placeholder {
   color: var(--input-plch-fontColor);
}

.textarea:focus::placeholder {
   color: var(--input-plch-focus-fontColor);
} */

.button {
   height: 3.7rem;
   border-radius: 1rem;

   background-color: var(--theme-color);

   color: #fff;
   font-size: var(--interface-fz);
   line-height: 1.9rem;
   font-weight: bold;

   transition-property: filter background-color;
   transition-duration: 0.1s;

   filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {

   background-color: var(--theme-hover);
   box-shadow: var(--theme-hover-shadow);
   filter: drop-shadow(0px 2px 5px var(--theme-hover-shadow));
}

.icons {
   display: grid;
   grid-template-columns: repeat(4, 3.4rem);
   padding-left: 2rem;
}

.icons:hover {
   cursor: pointer;
}

.iconsItem {
   transition-property: opacity;
   transition-duration: 0.1s;
}

.iconsItem:hover {
   opacity: 0.6;
}