.messagesSearchWrapper {
   margin-right: 10px;

   margin-top: -1rem;

   /* Ширина контейнера main=400...600px.
   Отступ слева у searchWrapper = 1rem.
   Итого, ширина searchWrapper=400...600px - (1rem) = 348...548px + 2*70px = 488...688px*/
   display: grid;
   grid-template-columns: minmax(268.2px, 468.2px) repeat(2, minmax(60px, auto));
   
   align-items: center;
   
   background-color: rgb(230, 230, 230);
   border-bottom: 3px solid rgb(171, 170, 170);
}