.postAuthor {
   display: grid;
   grid-template-columns: 5rem 1fr;
   grid-template-areas: "image name"
                        "image date";
   grid-template-rows: repeat(2, 2.5rem);
}

.authorImage {
   grid-area: image;
}

.authorName,
.postDate {
   padding-left: 1.5rem;
   align-self: center;
   color: var(--base-fontColor);
}

.authorName {
   grid-area: name;
   margin-top: 0.5rem;

   font-weight: bold;
   font-size: var(--main-fz);
}

.postDate {
   grid-area: date;
   margin-bottom: 0.5rem;

   font-weight: 300;
   font-size: var(--secondary-fz);
}