.headerSearch {
   justify-self: end;

   width: 450px;
   height: 2.8rem;
}

.searchForm {
   height: 100%;
   display: grid;
   grid-template-columns: 1fr minmax(50px, auto);
   align-items: center;
   justify-items: end;
}