.headerSearch {
   justify-self: start;

   grid-column: 2 / 3;

   height: 2.8rem;

   margin-left: 2rem;
}

.searchImage {
   display: inline-block;
}

.searchForm {
   height: 100%;
   display: grid;
   grid-template-columns: 1fr minmax(50px, auto);
   align-items: center;
   justify-items: end;
}

.searchImage img {
   transition: ease 0.2s opacity;
}

.searchImage img:hover {
   cursor: pointer;
   opacity: 0.7;
}