@media (max-width: 1360px) {
   .main {
      grid-template-columns: minmax(18rem, 1fr) 550px minmax(18rem, 1fr);
   }
}

@media (max-width: 1022px) {
   .main {
      grid-template-columns: minmax(14.5rem, 1fr) 550px minmax(14.5rem, 1fr);
   }
}

@media (max-width: 1000px) {
   .main {
      grid-template-columns: 14.5rem 550px minmax(3rem, auto);
   }
}