.header {
   position: fixed;
   left: 0;
   top: 0;

   min-height: 4.5rem;
   width: 100%;

   z-index: 4;

   display: grid;
   grid-template-columns: 1fr minmax(150px, auto) minmax(400px, 600px) 1fr;
   align-items: center;

   padding: 0 1rem;
}