.header {
   position: fixed;
   left: 0;
   top: 0;

   min-height: 5rem;
   width: 100%;

   z-index: 4;

   display: grid;
   grid-template-columns: 1fr minmax(200px, auto) minmax(500px, 700px) 1fr;
   align-items: center;

   background-color: rgb(64, 202, 205);
}