.footer {
   position: fixed;
   left: 0;
   bottom: 0;

   min-height: 3rem;
   width: 100%;

   z-index: 4;

   display: grid;
   grid-template-columns: 1fr minmax(300px, auto) minmax(600px, auto) 1fr;
   align-items: center;
   font-weight: bold;

   background-color: rgb(64, 202, 205);

   font-size: 1.1rem;
   color: rgba(55, 55, 55, 0.8);
}