.footer {
   position: fixed;
   left: 0;
   bottom: 0;

   padding: 0 1rem;

   min-height: 3rem;
   width: 100%;

   z-index: 4;

   display: grid;
   grid-template-columns: 1fr minmax(auto, 250px) minmax(300px, 500px) 1fr;
   align-items: center;
   font-weight: bold;

   font-size: 1.1rem;
}