.dialogsItem {
   display: grid;
   grid-template-columns: 75px 1fr minmax(50px, auto);
   grid-auto-rows: repeat(2, minmax(auto, 35px));
   grid-template-areas:
      "avatar name    date"
      "avatar message message";
   align-items: center;
   padding: 0.6rem;
   margin: 1rem 0;
   border-radius: 0.6rem;
}

.dialogsItem:last-child {
   margin: 0;
}

.dialogsItem:hover {
   cursor: pointer;
}