@media (max-width: 1360px) {
   .button {
      display: none;
   }
}

@media (max-width: 1150px) {
   .whoToFollow {
      display: none;
   }

   .friendsOnline {
      /* display: none; */
   }

   .friendsOnlineTitle {
      display: none;
   }
   
   .sidebars .gridContainer {
      display: none;
   }

   .showMore {
      display: none;
   }
}

@media (max-width: 1000px) {
   .wrapper .sidebars {
      grid-template-columns: 14.5rem 550px minmax(3rem, auto);
   }

   .actual {
      display: none;
   }
}