@media (max-width: 1360px) {
   .button {
      display: none;
   }
}

@media (max-width: 1120px) {
   .whoToFollow {
      display: none;
   }
}

@media (max-width: 1095px) {
   .friendsOnline {
      display: none;
   }
}

@media (max-width: 960px) {
   .sidebars {
      grid-template-columns: 18rem 550px minmax(6.5rem, auto);
   }

   .actual {
      display: none;
   }
}