.actualItem {
   display: grid;
   grid-template-rows: repeat(3, 2.1rem);
   align-items: center;

   margin-bottom: 1.8rem;

   font-size: var(--main-fz);
   font-weight: 300;

   color: var(--base-fontColor);
}

.place,
.value {
   opacity: 0.56;
}

.actualItem:hover {
   cursor: pointer;
}

.actualItem:last-child {
   margin-bottom: 0;
}

.place,
.trend {
   line-height: 1.7rem;
}

.trend {
   font-weight: 400;
}
