.messagesSearch {
   background-color: var(--message-color);
   width: 548px;
}

.messagesSearchWrapper {
   display: grid;
   grid-template-columns: minmax(268.2px, 468.2px) repeat(2, minmax(50px, auto));

   align-items: center;

   border-bottom: 1px solid var(--border-color);
}

.messagesForm {
   grid-column: 1 / 2;

   display: grid;
   grid-template-columns: minmax(min-content, max-content) 1fr;
   align-items: center;

   margin: 0 2rem;

   height: 4.5rem;
}

.searchIcon {
   transition: ease 0.1s opacity;
}

.messagesIcon {
   justify-self: end;
   margin-right: 2rem;
   transition: ease 0.1s opacity;
}

.searchIcon:hover,
.messagesIcon:hover {
   cursor: pointer;
   opacity: 0.56;
}
