.userInfoItem {
   display: grid;
   grid-template-columns: 16.5rem 1fr;
   height: 2.45rem;
   align-items: start;
}

.userInfoProperty,
.userInfoValue {
   font-size: var(--main-fz);
   line-height: 1.5rem;
   color: var(--base-fontColor);
}

.userInfoProperty {

}

.userInfoValue {
   opacity: 0.56;
}