.sidebarItem {
   border-radius: 0.6rem;
}

.sidebarItem a {
   display: inline-block;

   width: 100%;

   padding: 0.8rem;
   color: #fff;
}

.sidebarItem:hover {
   cursor: pointer;
   background-color: rgb(154, 154, 154);
}

.sidebarItem:active {
   background-color: rgb(140, 140, 140);
}